.header-card {
  background-color: #f1f5f9;
  height: 15%;
  padding: 10px;
  padding-left: 40px;
}
.website-logo {
  height: 50px;
  width: 150px;
}
.course-container {
  padding: 10px;
  padding-left: 40px;
}
